---
layout: base
title: Home
permalink: '/'
heading: My Book List
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        Welcome to my book list! Head over to <a href="/books">the books page</a> to check out what I've been reading lately.
    </p>
</article>
